body {
    font-family: Impact, Fantasy;
    background-color: white; /*change this color*/
    text-align: center;
}

#header-image {
    /*Used to change the style banner to make it stretch correctly */
  width: 100%;
  height:200px;
  background-size: cover;
  background-color: black;
  background-position: center;
  border: 5px solid;
  
  /*Used to change the style of the BAND NAME font */
  color: white;
  display: table;
  text-align: center;
  font-size: 85px;

}

/*Adds a little extra space around the "MENU" links
To use this add an id="menu" to your menu table*/
#menu td{
    padding: 15px;
}

/*Makes images shrink to fit size of page*/
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /*adds a little corner curve */
}

/*Changes the style of the tables*/
table, tr, td {
    margin: auto;/*centers table left-right */
    border:2px solid darkgreen; /*changes the border style*/
    padding: 10px;
    border-collapse: collapse; /*Makes single Border*/
}

/*Used to center my album image*/
.center {
    text-align:center;
}